.like-button-container {
    display: inline-block;
    position: fixed;
    bottom: var( --spacing-11);
    right: var( --spacing-3);
    z-index: 1000;
}

.like-button {
    background: none;
    border: 2px solid var(--color-pink-900);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--spacing-6);
    height: var(--spacing-6);
    border-radius: var( --border-radius-round-rem);
    background-color: var(--color-pink-100);
    transition: all 0.2s;
}

.like-button:hover {
    background-color: var(--color-pink-200);
}

.like-button.liked {
    background-color: var(--color-pink-100);
}

.like-button.liked svg {
    fill: var(--color-red);
    stroke: var(--color-red);
}

.icon-heart {
    width: var(--spacing-2-5);
    height: var(--spacing-2-5);
    transition: all 0.2s;
}