@using Umbraco.Cms.Web.Common.PublishedModels;
@using Umbraco.Extensions;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<StandardPage>
@{
    ViewData["Title"] = Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    @if (!string.IsNullOrWhiteSpace(Model.Title) || !string.IsNullOrWhiteSpace(Model.Preamble))
    {
        <div class="page-header">
            <h1>@Model.Title</h1>
            <p>@Model.Preamble</p>
        </div>
    }

    @if (Model.MainIm != null)
    {
        <div class="image-wrapper">
            <img src="@Model.MainIm.Url()" alt="@Model.Name">
        </div>
    }

    @if (Model.MainForm != null)
    {
        <div class="forms-wrapper">
            @await Component.InvokeAsync("RenderForm", new { formId = Model.MainForm, includeScripts = false })
        </div>
    }
</div>