@use './colors.scss';

// Border radius variables
:root,
:host {
  --border-width: 1px;
  --border-radius-s: 5px;
  --border-radius-m: 10px;
  --border-radius-l: 20px;
  --border-radius-xl: 30px;
  --border-radius-round-rem: 50%;
}

// Base styles
body {
  background-color: var(--color-pink-200);
  font-family: 'Arial', sans-serif;
  color: var(--color-grey-600);
  line-height: 1.6;
}

// Layout
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: var(--spacing-4) var(--spacing-2);

  img{
    max-width: 100%;
    height: auto;
    border-radius: var(--border-radius-m);
  }
}
