@use './colors.scss';
@use './breakpoints.scss' as breakpoints;
@use './icons.scss';

// Border radius variables
:root,
:host {
  --border-width: 1px;
  --border-radius-s: 5px;
  --border-radius-m: 10px;
  --border-radius-l: 20px;
  --border-radius-xl: 30px;
  --border-radius-round-rem: 50%;
}

// Base styles
body {
  background-color: var(--color-pink-200);
  font-family: 'Arial', sans-serif;
  color: var(--color-grey-700);
  line-height: 1.6;
}

// Layout
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 var(--spacing-1) var(--spacing-3);

 
  img {
    width: 100%;
    height: var(--spacing-27);
    object-fit: cover;
    object-position: center;
    border-radius: var(--border-radius-m);
    
    @include breakpoints.breakpoint(s) {
      height: var(--spacing-28);
    }
    
    @include breakpoints.breakpoint(m) {
      height: calc(var(--baseline) * 60);
    }
  }

}

.footer-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  a {
    text-decoration: none;
    color: var(--color-pink-900);
    font-size: 14px;
    font-weight: 600;
  }
  a:hover {
    color: var(--color-pink-700);
    text-decoration: underline;
    }

  p{
    font-size: 14px;
    margin: var(--baseline) 0 0;
  }
  }