@use './colors.scss';
@use './breakpoints.scss' as breakpoints;;

// Border radius variables
:root,
:host {
  --border-width: 1px;
  --border-radius-s: 5px;
  --border-radius-m: 10px;
  --border-radius-l: 20px;
  --border-radius-xl: 30px;
  --border-radius-round-rem: 50%;
}

// Base styles
body {
  background-color: var(--color-pink-200);
  font-family: 'Arial', sans-serif;
  color: var(--color-grey-600);
  line-height: 1.6;
}

// Layout
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 var(--spacing-1) var(--spacing-2);

 
  img {
    width: 100%; /* Take full width of the container */
    height: var(--spacing-25); /* Default height for mobile (160px) */
    object-fit: cover; /* Maintains aspect ratio and prevents distortion */
    object-position: center; /* Centers the image */
    border-radius: var(--border-radius-m);
    
    @include breakpoints.breakpoint(s) {
      height: var(--spacing-28); /* Increased height for medium screens (192px) */
    }
    
    @include breakpoints.breakpoint(m) {
      height: calc(var(--baseline) * 60); /* Larger height for desktop (240px) */
    }
  }
}
